.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }

.img-center {margin:0 auto;}

.navbar-default{
  background-color: black;
}

.navbar-btn{
  background: #FFC624;
  margin-left: 5px;
}

.container{
  border: 2px solid black;
  padding: 5px;

}

ul {
  list-style-type: none;
}

.btn-default{
  background-color: #FFC624;
}
